// Slurm workload manager resource reservation based on ESSENTIAL_THREADS variable set to 4 threads
executor="slurm"
queue="short"
commands {
    FastQC {
        walltime="02:00:00"
        procs="1"
        memory="2"
    }
    Cutadapt {
  	        walltime="02:00:00"
                 procs="1"
	 	memory="4"
    }
    FastQQualityFilter {
 	        walltime="02:00:00"
                 procs="1"
	 	memory="4"
    }
    FilterDuplicates {
 	        walltime="02:00:00"
                 procs="1"
	 	memory="4"
    }
    Bowtie_se {
 	        walltime="02:00:00"
          procs="8"
          options="--mem-per-cpu=2000"
    }
    STAR {
        walltime="04:00:00"
        procs="4"
        memory="48"
    }
    BAMindexer {
        walltime="01:00:00"
        procs="1"
        memory="1"
    }
    InsertSize {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    subread_count {
        walltime="00:30:00"
        procs="4"
        memory="4"
    }
    bamCoverage {
        walltime="03:00:00"
        procs="4"
        memory="8"
    }
    filter2htseq {
        walltime="00:30:00"
        procs="1"
        memory="1"
    }
    geneBodyCov2 {
        walltime="01:00:00"
        procs="4"
        memory="16"
    }
    bam2bw {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    MarkDups {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    MarkDups2 {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    dupRadar {
        walltime="02:00:00"
        procs="4"
        memory="1"
    }
    inferexperiment {
        walltime="02:00:00"
        procs="1" 
        memory="4"
    }
    qualimap {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    RNAtypes {
        walltime="01:00:00"
        procs="4"
        memory="16"
    }
    rnatypes {
        walltime="00:10:00"
        procs="4"
        memory="1"
    }
    FilterChr {
        walltime="02:00:00"
        procs="4"
        memory="1"
    }
    DE_edgeR {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    DE_DESeq2 {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    DE_DESeq2_MM {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    GO_Enrichment {
        walltime="01:00:00"
        procs="4"
        memory="2"
    }
   DedupStats {
	        walltime="01:00:00"
          procs="1"
		      memory="4"
   }
   CombinedStats {
	        walltime="01:00:00"
          procs="1"
		      memory="4"
   }
   MappingStats {
	        walltime="02:00:00"
          procs="1"
		      memory="4"
   }
   bam2bw {
	        walltime="01:00:00"
          procs="1"
		      memory="2"
   }
   miRDeep2Mapper {
	        walltime="04:00:00"
          procs="8"
		      memory="2"
   }
   miRDeep2 {
	        walltime="02:00:00"
          procs="2"
		      memory="2"
   }
   SubreadCount {
	        walltime="01:00:00"
          procs="4"
		      options="--mem-per-cpu=300"
   }
   rnatypes {
	        walltime="0:10:00"
          procs="4"
		      options="--mem-per-cpu=1000" 	
   }
   CutadaptStats {
	        walltime="01:00:00"
          procs="1"
		      memory="1"	
   }
   FastQQualityFilterStats {
	        walltime="01:00:00"
          procs="1"
		      memory="1"
   }
   Filter2HTSeq {
	        walltime="01:00:00"
          procs="1"
		      memory="1"
   }
   TrimUMIs {
	        walltime="01:00:00"
          procs="1"
          memory="2" 
   }
   FastQScreen {
	        walltime="01:00:00"
          procs="4"
          options="--mem-per-cpu=2000"
   }
    bowtie2_pe {
        queue="long"
        walltime="24:00:00"
        procs="4"
        memory="24"
    }
    filbowtie2unique {
        walltime="05:00:00"
        procs="4"
        memory="8"
    }
    InsertSize {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    BamQC {
        walltime="02:00:00"
        procs="1"
        memory="2"
    }
    ipstrength {
        walltime="02:00:00"
        procs="2"
        memory="16"
    }
    phantompeak {
        walltime="05:00:00"
        procs="8"
        memory="16"
    }
    pbc {
        walltime="02:00:00"
        procs="1"
        memory="16"
    }
    macs2 {
        walltime="04:00:00"
        procs="1"
        memory="8"
    }
    blacklist_filter {
        walltime="01:00:00"
        procs="1"
        memory="1"
    }
    peak_annotation {
       walltime="02:00:00"
       procs="1"
       memory="8"      
    }   
    GREAT {
       walltime="01:00:00"
       procs="1"
       memory="1"
    }
    trackhub_config {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
    trackhub {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
    collectBpipeLogs {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
    shinyReports {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
}


